<header>
    <title> Registrate en Mercado Liebre</title>
    <link rel="stylesheet" href="stylesheets/estilos.css" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2c807fa682.js" crossorigin="anonymous"></script>
</header>
<body>
    <div id="header">
        <img src="/images/logo-mercado-liebre.svg" alt="logo"><br>
        <p>un lugar para la barra de búsqeuda</p>
        <br>
        <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        <br>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <br>
        <ul>
            <li><a href="/registro">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        <br>
    </div>

<div>
    <form action="/">
        <input type="text" id="username" name="username" placeholder="Ingresa tu usuari@"><br><br>
        <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña"><br>

        <button type="submit">Enviar</button>
        <button type="reset">Borrar</button>
    </form>
</div>
<div>
    <h6><i class="far fa-credit-card" style="color:#03264C"></i> Pagá con tarjeta o en efectivo</h6>
    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
        pago. ¡Y siempre es seguro!</p>
    <h6><i class="fas fa-gift" style="color:#03264C"></i> Envío gratis desde los $ 2.500</h6>
    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
        productos. Es un beneficio de MercadoPuntos.</p>
    <h6><i class="fas fa-user-shield" style="color:#03264C"></i> Seguridad, de principio a fin</h6>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
            porque estás siempre prtegid@.</p>
        <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
</div>