<header>
    <title> Mercado Liebre
    </title>
    <link rel="stylesheet" href="stylesheets/estilos.css" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2c807fa682.js" crossorigin="anonymous"></script>
</header>
<body>
    <div id="header">
        <img src="/images/logo-mercado-liebre.svg" alt="logo"><br>
        <p>un lugar para la barra de búsqeuda</p>
        <br>
        <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        <br>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <br>
        <ul>
            <li><a href="/registro">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        <br>
    </div>
    <div>
        <div>
            <img src="/images/img-home-banner.jpg" alt="Banner"><br>
        </div>
        <div>
            <h3>Basado en tu última visita<br><br></h3>
            <br>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Producto_Cafetera"><br>
                <i class="fas fa-truck" style="color:#39b54a"></i>
                <p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Producto_notebook"><br>
                <i class="fas fa-truck" style="color:#39b54a"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <h5>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h5>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Producto_Smartphone"><br>
                <i class="fas fa-truck" style="color:#39b54a"></i>
                <p>$70.500</p>
                <p>15% off</p>
                <h5>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h5>
            </div>
            <div>     
                <img src="/images/img-tv-samsung-smart.jpg" alt="Producto_SmartTv"><br>
                <i class="fas fa-truck" style="color:#39b54a"></i>
                <p>$34.000</p>
                <p>5% off</p>
            </div>       
        </div>
        <div>
            <h3>Ofertas<br><br></h3>
            <br>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Producto_Cafetera"><br>
                <i class="fas fa-truck" style="color:#39b54a"></i>
                <p>$6.770</p>
                <p>40% off</p>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Producto_notebook"><br>
                <i class="fas fa-truck" style="color:#39b54a"></i>
                <p>$230.000</p>
                <p>20% OFF</p>
                <h5>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h5>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Producto_Smartphone"><br>
                <i class="fas fa-truck" style="color:#39b54a"></i>
                <p>$70.500</p>
                <p>15% off</p>
                <h5>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h5>
            </div>
            <div>     
                <img src="/images/img-tv-samsung-smart.jpg" alt="Producto_SmartTv"><br>
                <i class="fas fa-truck" style="color:#39b54a"></i>
                <p>$34.000</p>
                <p>5% off</p>
            </div>    
        </div>
    </div>
    <div>
        <h6><i class="far fa-credit-card" style="color:#03264C"></i> Pagá con tarjeta o en efectivo</h6>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
            pago. ¡Y siempre es seguro!</p>
        <h6><i class="fas fa-gift" style="color:#03264C"></i> Envío gratis desde los $ 2.500</h6>
        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
            productos. Es un beneficio de MercadoPuntos.</p>
        <h6><i class="fas fa-user-shield" style="color:#03264C"></i> Seguridad, de principio a fin</h6>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                porque estás siempre prtegid@.</p>
            <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </div>
</body>